* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Tiempos Text';
    color: #FFFFFF;
}

.header{
   
    margin: 0;
    /* background-image: url(assets/bg.png),          linear-gradient(to top, #000417 0%, rgba(196, 196, 196, 0) 250.29%); */
    background-image: url(assets/landing-bg-new.jpg), linear-gradient(to top, rgba(252, 254, 255, 1) 0%, rgba(252, 254, 255, 0) 60%);
    /* mix-blend-mode: lighten; */
    background-blend-mode: overlay;
    text-align: center;
    padding-top: 128px;
    margin-bottom: 0px;
    
}

.header-logo{
    animation-name: fadeInDown;
    animation-duration: 9s;
}

.bounce{
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

.header-logo{
     margin-top: 128px;
}
.header-logo,
h1,
h3, 
hr, 
h5,
h6{
        margin: auto;
        width: 50%;
}
h1{
    font-size: 64px;
    line-height: 77px;
    width: 485px;
    font-style: italic;
    margin-top: 64px;
    font-family: 'Tiempos Text - Bold Italic'
}

h3{
    margin-top: 8px;
    font-family: 'Tiempos Text - Regular';
    font-size: 24px;
    line-height: 29px;
    font-weight: normal;
}

h5,
h6{
    font-family: 'Chivo', sans-serif;
}
h5{
    font-size: 16px;
    line-height: 19px;
    margin-top: 36px;
    font-weight: lighter;
}
hr{
    border-top:1px solid white;
    width: 30px;
    margin: 0 auto;
    margin-top: 27px;
}

.scroll-down-top{
    position: relative;
    margin-top: 136px;
    font-size: 12px;
    line-height: 14px;
}

.scroll-triangle{
    margin-top: 8px;
    position: relative
}

.scroll-animation-div{
    animation: fadeInDown;
    animation-duration: 2s;
}

.scroll-down-top,
.scroll-triangle,
.explore{
    -webkit-animation-name: scroll-animation;
    -moz-animation-name: scroll-animation;
    -o-animation-name: scroll-animation;
    animation-name: scroll-animation;

    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    animation-duration: 0.8s;

    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}



@keyframes scroll-animation{
    from {top: 0px;}
    to {top: 18px;}
}

.main-text{
    height: 482px;
    z-index: 10;
    margin-top: 102px;
    overflow: visible;
    
}
.p1,
.p2,
.p3{
    color: #1C4480;
    font-size: 16px;
    z-index: 10;
    width: 79%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 200%;
    margin-top: 33px;
}

.the-narratives{
    text-align: center;
    /* background-image: url(assets/bg-2.png), linear-gradient(to bottom, #000417 0%, rgba(196, 196, 196, 0) 194.29%);*/
    /* background-image: url(assets/lower-bg-2.png), linear-gradient(to bottom, #FFFFFF, rgba(255, 255, 245, 0.99) 20%); */
    background-image: url(assets/landing-bg-new.jpg), linear-gradient(to bottom, rgba(252, 254, 255, 1) 0%, rgba(252, 254, 255, 0) 60%);
    /* mix-blend-mode: lighten; */
     
    height: 1324px;
    margin: 0;
    background-blend-mode: overlay;
    margin-top: -34px;
    overflow: auto;
}

.explore{
    position: relative;
    margin-top: 100px;
    width: 80%;
    text-align: center;
}

.the-narratives-header{
    vertical-align: middle;
line-height: 35px;  
    font-style: normal;
    width: 340px;
    height: 35px;
    vertical-align: middle;
    font-weight: 500;
    font-size: 18px;
    /* line-height: 22px; */
    margin: 0 auto;
    margin-top: 154px;

    background-color:#1C4480;
}

.flex-container-1{
    display: flex;
    width: 1112px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 64px;
}

.kf-box{
    background-image: url(assets/keepin-faith-thumbnail.png);
}

.kf-box,
.photoessay-box{
    width: 313px;
    height:391px;
}

.bn-box{
    width: 426px;
    height:391px;
    background-image: url(assets/marawi-rehab-thumbnail.png);

}

.photoessay-box{
    background-image: url(assets/photoessay\ -thumbnail.png);
}

.flex-container-2{
    display: flex;
    width: 1112px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 31px;
}

.wtd-box{
    width: 427px;
    height: 391px;
    background-image: url(assets/wtd-thumbnail.png);
}
.docu-box{
    width: 655px;
    height: 391px;
    background-image: url(assets/mini-docu-thumbnail.png);
}

.textbox{
    background: rgba(1, 4, 24, 0.75);
    backdrop-filter: blur(20px);
    position: relative;
    overflow: auto;
    height: 124px;
    top: 267px;
    cursor: pointer;
    transition-duration: 0.7s;
}

.textbox:hover{
    height: 391px;
    top: 0px;
    transition-duration: 0.7s;
}

.box-category,
.box-title,
.box-credits{
    text-align: left;
    margin-left: 25px;
}
.box-category{
    color: #5597FB;
    font-size: 10px;
    line-height: 12px;
    margin-top: 20px;
}

.box-title{
    margin-top: 6px;
    font-size: 21px;
line-height: 25px;
}

.box-credits{
    margin-top: 10.54px;
    font-size: 12px;
    line-height: 14px;
    color: #AFAFAF;
}

.footer{
    height: 450px;
    background-color: #010418;
    font-size: 14px;
    line-height: 150%;
}

.gdn-horizontal
{
    margin-left: 87px;
    margin-top: 101px;
}

.first-footer-sent{
    margin-top: 48px;
    margin-left: 87px;
}
.footer-content{
    margin-left: 87px;
    margin-top: 10px;
}

.scroll-down-top2,
.scroll-triangle-2{
    color: #1C4480;
}

