
@import url('https://fonts.googleapis.com/css?family=Chivo&display=swap');
@font-face{
	font-family: 'Tiempos Text';
	src: url("fonts/Tiempos Text - Regular.otf");
}

@font-face{
	font-family: 'Tiempos Bold';
	src: url("fonts/Tiempos Text - Semibold.otf");
}

@font-face{
	font-family: 'Tiempos Med';
	src: url("fonts/Tiempos Text - Medium.otf");
}

body {
	font-family: 'Tiempos Text';
	background-color: black;
}
html, body {
    margin: 0;
    padding: 0;
}

/*body {
    opacity: 1;
	transition: 1s opacity;
    }

body.fade-out {
	opacity: 0;
	transition: none;
    }*/

h5,h6{
	 margin: auto;
    width: 50%;
}

h6{
    font-family: 'Chivo', sans-serif;
    color: #FFFFFF;
}

.scroll-down-top{
    position: relative;
    margin-top: 118px;
    font-size: 14px;
    line-height: 1px;
    text-align: center;

}

.scroll-triangle{
	margin-top: 18px;
    position: relative;
    display: block;
   	margin-left: auto;
  	margin-right: auto;
}

.scroll-animation-div{
    animation: fadeInDown;
    animation-duration: 2s;
}

.scroll-down-top,
.scroll-triangle,
.explore{
    -webkit-animation-name: scroll-animation;
    -moz-animation-name: scroll-animation;
    -o-animation-name: scroll-animation;
    animation-name: scroll-animation;

    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    animation-duration: 0.8s;

    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}



@keyframes scroll-animation{
    from {top: 0px;}
    to {top: 18px;}
}

.landing-container{
	position: absolute; top: 0; left: 0;
	/*position:relative;*/	
	overflow:hidden;
	  min-width: 100%;
  	min-height: 100%;	
}


.bg {
	background-image: url(../img/bg.jpg);
	filter: contrast(0.8) brightness(1.1);
	transform: scale(1.72);
	background-repeat: no-repeat no-repeat;
	/*background-position: center;*/
	background-attachment: local;	
	background-size: 100% 100%; 
	max-width: 100%;
	height: auto;
	width: auto\9;
	object-position: 100% -8em;
 	min-width: 100%;
  	min-height: 100%;
  	top: 0;
  	left: 0;
    z-index: -3;
    background-color: #FFFFFF;
  
}

#fade img.load{
	opacity: 1;
}

.landing-bg{
	display: block;
    position: absolute;
    width: 100%;
    height: 101%;
    background-color: rgba(0,0,0,0.4);
    z-index: 5;
    top: 0;
    left: 0;
	background: linear-gradient(0deg, #000000 0.05%, 
				rgba(8, 8, 8, 0.885114) 22.53%, 
				rgba(12, 12, 12, 0.764107) 40.97%, 
				rgba(7, 7, 7, 0.665789) 45.26%, 
				rgba(52, 52, 52, 0.513483) 60.65%, 
				rgba(90, 91, 94, 0.346275) 82.36%, 
				rgba(111, 111, 114, 0.205556) 90.42%, 
				rgba(126, 126, 129, 0.112842) 97.68%, 
				rgba(196, 196, 196, 0) 100%);
	background-blend-mode: darken;
	border: 1px solid #000000;
	box-sizing: border-box;
}

.landing-bn{ 
	z-index: 1;
	font-family: 'Tiempos Bold';
	font-style: normal;
	font-weight: normal;
	padding-top: 31em;
	font-size: 12px;
	line-height: 21px;
	letter-spacing: 0.05em;
	text-align: center;
	color: #BB97FB;
}

.landing-head{
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-family: 'Tiempos Bold';
	z-index: 1;	
	font-size: 48px;
	margin: 0;
	line-height: 58px;
	color: #FFFFFF;
}

.landing-sub{
	font-family: 'Tiempos Text';
	font-size: 18px;
	font-style: normal;
	font-weight: 100;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
}

.landing-credits{
	padding-top: 1em;
	font-family: 'Chivo';
	font-style: normal;
	font-weight: normal;
	text-align: center;	
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
}

.video-container{
	padding-top: 10em;
	padding-bottom: 74em;
}
.video{
	position: relative;
	width: 1258px;
	height: 710px;
	top: 998px;
 	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 83%;
  	height: 83%;

}

.text-container{
	background-color: #FFFFFF;
	top: 0; 
	left: 0;
	overflow:hidden;
	min-width: 100%;
  	min-height: 100%;
  	position: relative;
  	padding-top: 8em;
  	padding-bottom: 8em;
}

.bottom-text{	
	font-family: Tiempos Med;
	font-style: italic;
	font-weight: 500;
	font-size: 36px;
	line-height: 50px;
	display: flex;
	align-items: center;
	text-align: center;
	display: block;
	color: #1C4480;
}

.bottom-animation-div{
    animation: fadeIn;
    animation-duration: 3s;
    
}

.stories{
    text-align: center;
    background-image: url(assets/bg-2.png), linear-gradient(to bottom, #000417 0%, rgba(196, 196, 196, 0) 194.29%);
    height: 1324px;
    margin: 0;
    background-blend-mode: darken;
    margin-top: -68px;
    overflow: auto;
    background: #F6F6F6;
    margin-bottom: -170px;
}

.stories-box{
	  background: #0F3976;
	  width: 340px;
	  height: 35px;
	  margin-left: auto;
      margin-right: auto;
}

.stories-header{
	font-family: 'Tiempos Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    margin-top: 154px;
    color: #FFFFFF;
}

.flex-container-1{
    display: flex;
    width: 1112px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 64px;
}

.kf-box{
    background-image: url(assets/keepin-faith-thumbnail.png);
}

.kf-box,
.photoessay-box{
    width: 313px;
    height:391px;
}

.bn-box{
    width: 426px;
    height:391px;
    filter: grayscale(1);
    background-image: url(assets/marawi-rehab-thumbnail.png);
}

.photoessay-box{
    background-image: url(assets/photoessay\ -thumbnail.png);
}

.flex-container-2{
    display: flex;
    width: 1112px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 31px;
}

.wtd-box{
    width: 427px;
    height: 391px;
    background-image: url(assets/wtd-thumbnail.png);

}
.docu-box{
    width: 655px;
    height: 391px;
    background-image: url(assets/mini-docu-thumbnail.png);
}

.textbox{
    background: rgba(28,68,128, 0.75);
    backdrop-filter: blur(20px);
    position: relative;
    overflow: auto;
    height: 124px;
    top: 267px;
    cursor: pointer;
    transition-duration: 0.7s;
}

.textbox:hover{
    height: 391px;
    top: 0px;
    transition-duration: 0.7s;
}

.textbox-bn{
    background: rgba(1, 4, 24, 0.75);
    backdrop-filter: blur(20px);
    position: relative;
    overflow: auto;
    height: 124px;
    top: 267px;
    
    transition-duration: 0.7s;
}
.box-category,
.box-title,
.box-credits{
    text-align: left;
    margin-left: 25px;

}
.box-category{
    color: #5597FB;
    font-size: 10px;
    line-height: 12px;
    margin-top: 20px;
}

.box-title{
    margin-top: 6px;
    font-size: 21px;
line-height: 25px;
	color: #FFFFFF;
}

.box-credits{
    margin-top: 10.54px;
    font-size: 12px;
    line-height: 14px;
    color: #AFAFAF;
}

.footer{
    height: 450px;
    background-color: #1C4480;
    font-size: 14px;
    line-height: 150%;
}

.gdn-horizontal
{
    margin-left: 87px;
    margin-top: 101px;
}

.first-footer-sent{
    margin-top: 48px;
    margin-left: 87px;
     color: #FFFFFF;
}
.footer-content{
    margin-left: 87px;
    margin-top: 10px;
     color: #FFFFFF;	
}